.container {
    background-color: #2f2f31;
    background-attachment: fixed;
    background-clip: padding-box;
    background-size: cover;

    background-image: url(https://avatars.mds.yandex.net/get-zen_doc/3384370/pub_5f00b6834f1a9007dd25fe58_5f035cf42483257f810dd9e2/scale_1200);
}