.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blockWrapper {
    background-color: rgba(47, 47, 49, 0.9);
    margin: 5vh 20% 1vh 20%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 0 15px 0 15px;
}

.painterText {
    opacity: 1;
    text-indent: 2rem;
    line-height: 1.5;
    font-size: 1.1rem;
    color: #fafafa;
    padding: 5px;
}

.paintersImg {
    opacity: 1;
    float: left; /* Выравнивание по левому краю */
    margin: 7px 15px 7px 0;
    width: 220px;
    height: 307px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(245, 76, 76, 0.5);
    object-fit: cover;
}

.paintingButton {
    margin-top: 5px;
    color: #565658;
    box-shadow: 0 0 5px 4px rgba(245, 76, 76, 0.5);
    width: 20%;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.paintingsImg {
    width: 220px;
    height: 307px;
    margin: 10px;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(245, 76, 76, 0.5);
    border-radius: 5px;
    transition:0.2s ;
}
.paintingsImg:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.2s;
}
.paintingBlock {
    display: inline-block;
    text-align: center;
    width: 50%;
    min-width: min-content;
    height: 250px;
    padding: 20px;
    margin: 0;
    color: #fafafa;
}

.title {
    color: #fafafa;
    text-align: center;
    margin-bottom: 5%;
}

.paintingsText {
    margin-bottom: 50px;
    color: #fafafa;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: clip
}

.loaderTitle {
    margin: 50px;
    color: #fafafa;
    text-align: center;
    opacity: 0.5;
}

